.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  margin: auto 2rem;
}

body {
  background-color: #34383d;
}

h1 {
  margin: 30px;
  padding-left: 45px;
  font-family: 'Lobster', cursive;
  text-shadow: 7px 0 #232931;
  font-size: 7rem;
  color: #4ECCA3;
}

p {
  font-size: 3rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}


